:host {
	display: inline-flex;
	border: var(--sapButton_BorderWidth) solid var(--sapButton_BorderColor);
	border-radius: 0.375rem;
	padding: 0.5rem;
	position: relative;
	box-sizing: border-box;
}

.root {
	display: flex;
	align-items: center;
}

 ::slotted(my-token) {
	order: 1;
}

.overflow-area {
	display: flex;
	align-items: center;
	overflow: hidden;
	gap: 0.5rem;
}

ui5-icon {
	margin-inline-start: 0.5rem;
}

::slotted(my-token:nth-child(n + 4)) {
	display: none;
}

:host([show-all]) ::slotted(my-token) {
	display: inline-flex;
}