:host {
	border: var(--sapButton_BorderWidth) solid var(--sapButton_BorderColor);
	border-radius: 0.375rem;
	display: block;
	padding: 0.5rem;
	position: relative;
	box-sizing: border-box;
}

.root {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
	
 ::slotted(my-token) {
	flex-shrink: 0;
	order: 1;
}

.overflow-area {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5rem;
}

:host .overflow-area {
	flex-wrap: nowrap;
	overflow: hidden;
}

:host ::slotted(my-token[hidden-token]) {
	visibility: hidden;
	order: 2;
}

:host([show-all]) .overflow-area {
	flex-wrap: wrap;
}

:host([show-all]) ::slotted(my-token[hidden-token]) {
	visibility: visible;
}