<div class="root">

	<div class="overflow-area">
	   <slot></slot>
	</div>
	{{#if showAll}}
		<ui5-link @click={{handleShowMore}}>Show less...</ui5-link>
	{{else}}
		<ui5-link @click={{handleShowMore}}>Show more...</ui5-link>
	{{/if}}
</div>